*{
  max-width: 100%;
}

.site-header{
  margin-bottom:2%;
  margin-top:2%;
}


a{
  text-decoration:none;
  padding: 20px;
  color:black;
  border: 1px solid black;
  font-family:arial;
  font-size:15px;
}

.titres{
  justify-content:center;
}

.btn{
  border:none;
  background-color: none;
  margin-top:10px;
  padding:10px;
  border-radius: 10px;
  color:white;
  background-color: black;
  font: arial bold 15px;
}


.actus__img{
  text-align:center;
}

.actus__AVenir{
  max-width: 768px;
  margin: auto;
  margin-bottom: 50px;
}

.infos{
  padding-left: 20px;
  border: 2px solid black;
}

.actus__boxTextBtn {
  border: 2px solid black;
}

.boxTextBtn__text{
  justify-content: center;
  padding: 10px;
}

.boxTextBtn__btn{
  padding: 10px;
}


.Expo__box{
  max-width: 768px;
  margin: auto;
  margin-bottom: 50px;
}


.Expo-box__infos{
  border: 2px solid black;
  padding: 10px;
  width: 500px;
}



.footer{
  display:flex;
  max-width:100%;
}

ul{
  text-decoration:none;
  border:none;
}